<div class="hero-unit">
	
		<img src="<%= @image %>">
		<img src="<%= @image_sat %>">
	
</div>

	
<% count=1 %>
<% @pois.each do |poi| %>
	
	<div class="row">
	     <div class="span2">
	     	<div class="well">
	         <img src="<%= poi[:thumb]%>" alt="<%= poi[:label].force_encoding('ASCII-8BIT')%>" >
	         </div>
	     </div> 
	     <div class="span10">
	     	<h5><span class="badge badge-info"><%= count%></span> <%= poi[:label].force_encoding('ASCII-8BIT')%> </h5>
	              <p><%= poi[:abstract].force_encoding('ASCII-8BIT') %></p>
	            
	        
	    </div>
	       
	     	<% count+=1%>
	</div>
	
<%end %>
		
		
	